n8n/onboarding-day1.json
[{
  "_deployment_note": "TEMPLATE WORKFLOW: Import to N8N instance. Set N8N_WEBHOOK_SECRET env var. Runs daily at 10:00 SAST (08:00 UTC). Finds orgs whose timer_start_day = today AND day1_email_sent_at IS NULL, then POSTs to /api/n8n/onboarding-day with day=1.",
  "id": "onboarding-day1-workflow",
  "name": "DraggonnB - Onboarding Day 1 (Brand Voice)",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "cron-day1",
      "name": "Daily 08:00 UTC (10:00 SAST) Mon-Fri"
    },
    {
      "parameters": {
        "jsCode": "// Compute today's date in YYYY-MM-DD format (UTC date, which is what Supabase stores)\nconst today = new Date();\nconst targetDay = today.toISOString().split('T')[0];\nreturn [{ json: { target_day: targetDay } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 0],
      "id": "compute-target-day",
      "name": "Compute Target Day"
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/onboarding_progress?timer_start_day=eq.{{ $json.target_day }}&day1_email_sent_at=is.null&select=organization_id,timer_start_day",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 0],
      "id": "fetch-day1-orgs",
      "name": "Fetch Day 1 Orgs",
      "credentials": {
        "httpHeaderAuth": {
          "id": "draggonnb-supabase",
          "name": "DraggonnB Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const orgs = $input.first().json;\nif (!Array.isArray(orgs) || orgs.length === 0) {\n  return [{ json: { _skip: true, message: 'No Day 1 orgs to process today' } }];\n}\nconsole.log('Day 1 orgs to process:', orgs.length);\nreturn orgs.map(org => ({ json: org }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 0],
      "id": "split-orgs",
      "name": "Split Orgs"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json._skip }}",
              "value2": true
            }
          ]
        },
        "combineOperation": "any"
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [960, 0],
      "id": "check-skip",
      "name": "Has Orgs?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NEXT_PUBLIC_APP_URL ?? 'https://draggonnb-platform.vercel.app' }}/api/n8n/onboarding-day",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-secret",
              "value": "={{ $env.N8N_WEBHOOK_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ orgId: $json.organization_id, day: 1 }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 80],
      "id": "send-day1-email",
      "name": "Send Day 1 Email"
    }
  ],
  "connections": {
    "Daily 08:00 UTC (10:00 SAST) Mon-Fri": {
      "main": [[{ "node": "Compute Target Day", "type": "main", "index": 0 }]]
    },
    "Compute Target Day": {
      "main": [[{ "node": "Fetch Day 1 Orgs", "type": "main", "index": 0 }]]
    },
    "Fetch Day 1 Orgs": {
      "main": [[{ "node": "Split Orgs", "type": "main", "index": 0 }]]
    },
    "Split Orgs": {
      "main": [[{ "node": "Has Orgs?", "type": "main", "index": 0 }]]
    },
    "Has Orgs?": {
      "main": [[], [{ "node": "Send Day 1 Email", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Africa/Johannesburg"
  }
}]
