n8n/wf-analytics.json
[{"id":"86gLBhrsTemdOKKU","name":"DraggonnB - Analytics Collector","active":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":24,"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"cron-a","name":"Daily 6 AM SAST"},{"parameters":{"url":"https://psqfgzbjbgqrmjskdavs.supabase.co/rest/v1/social_posts?status=eq.published&select=id,organization_id,platforms","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[250,0],"id":"fetch-pub","name":"Fetch Published Posts","credentials":{"httpHeaderAuth":{"id":"draggonnb-supabase","name":"DraggonnB Supabase"}}},{"parameters":{"jsCode":"const posts = $input.first().json;\nconst now = new Date();\nconst snapshotDate = now.toISOString().split('T')[0];\nconst orgSnapshots = {};\nif (Array.isArray(posts)) {\n  for (const post of posts) {\n    const orgId = post.organization_id || 'global';\n    if (!orgSnapshots[orgId]) orgSnapshots[orgId] = { total: 0, platforms: new Set() };\n    orgSnapshots[orgId].total++;\n    const platforms = Array.isArray(post.platforms) ? post.platforms : [post.platforms];\n    platforms.forEach(p => { if (p) orgSnapshots[orgId].platforms.add(p); });\n  }\n}\nconst snapshots = Object.entries(orgSnapshots).map(([orgId, data]) => ({ json: { organization_id: orgId, snapshot_date: snapshotDate, total_posts_24h: data.total, platforms_used: [...data.platforms], collected_at: now.toISOString() } }));\nif (snapshots.length === 0) snapshots.push({ json: { snapshot_date: snapshotDate, total_posts_24h: 0, platforms_used: [], collected_at: now.toISOString() } });\nreturn snapshots;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[500,0],"id":"build-snapshot","name":"Build Analytics Snapshot"},{"parameters":{"method":"POST","url":"https://psqfgzbjbgqrmjskdavs.supabase.co/rest/v1/analytics_snapshots","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Prefer","value":"return=representation"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ organization_id: $json.organization_id, snapshot_date: $json.snapshot_date, total_posts_24h: $json.total_posts_24h, platforms_used: $json.platforms_used, collected_at: $json.collected_at }) }}","options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[750,0],"id":"save-snapshot","name":"Save Snapshot","credentials":{"httpHeaderAuth":{"id":"draggonnb-supabase","name":"DraggonnB Supabase"}}}],"connections":{"Daily 6 AM SAST":{"main":[[{"node":"Fetch Published Posts","type":"main","index":0}]]},"Fetch Published Posts":{"main":[[{"node":"Build Analytics Snapshot","type":"main","index":0}]]},"Build Analytics Snapshot":{"main":[[{"node":"Save Snapshot","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Africa/Johannesburg"}}]
