n8n/wf-billing-monitor.json
[{"_deployment_note":"TEMPLATE WORKFLOW: Replace all hardcoded Supabase URLs with the target deployment Supabase URL before importing. Use N8N environment variables ($env.SUPABASE_URL, $env.SUPABASE_SERVICE_KEY, $env.RESEND_API_KEY) or update credentials to point to the correct project.","id":"b3f7a2c1-9d4e-4f8a-b6c2-1e5d8a3f7b9c","name":"DraggonnB - Billing Monitor","active":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":24,"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"cron-billing-daily","name":"Daily 6 AM UTC (8 AM SAST)"},{"parameters":{"url":"={{$env.SUPABASE_URL}}/rest/v1/organizations?subscription_status=eq.active&next_billing_date=lt.{{$today}}&select=id,name,email,subscription_status,next_billing_date,plan_id","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,0],"id":"fetch-overdue","name":"Fetch Overdue Subscriptions","credentials":{"httpHeaderAuth":{"id":"draggonnb-supabase","name":"DraggonnB Supabase"}}},{"parameters":{"jsCode":"const orgs = $input.first().json;\nif (!Array.isArray(orgs) || orgs.length === 0) {\n  return [{ json: { _skip: true, message: 'No overdue subscriptions found' } }];\n}\nreturn orgs.map(org => ({ json: org }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[540,0],"id":"split-orgs","name":"Split Orgs"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json._skip}}","value2":true}]},"combineOperation":"any"},"type":"n8n-nodes-base.if","typeVersion":2,"position":[780,0],"id":"check-skip","name":"Has Overdue Orgs?"},{"parameters":{"url":"={{$env.SUPABASE_URL}}/rest/v1/subscription_history?organization_id=eq.{{$json.id}}&status=eq.completed&created_at=gte.{{$today.minus(3, 'days')}}&order=created_at.desc&limit=1","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1040,0],"id":"check-payment","name":"Check Payment Status","credentials":{"httpHeaderAuth":{"id":"draggonnb-supabase","name":"DraggonnB Supabase"}}},{"parameters":{"conditions":{"number":[{"value1":"={{$json.length}}","operation":"equal","value2":0}]},"combineOperation":"any"},"type":"n8n-nodes-base.if","typeVersion":2,"position":[1300,0],"id":"route-payment","name":"Payment Found vs Missing"},{"parameters":{"method":"PATCH","url":"={{$env.SUPABASE_URL}}/rest/v1/organizations?id=eq.{{$node['Split Orgs'].json.id}}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"subscription_status\": \"payment_failed\"}","options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,60],"id":"mark-overdue","name":"Mark as Overdue","credentials":{"httpHeaderAuth":{"id":"draggonnb-supabase","name":"DraggonnB Supabase"}}},{"parameters":{"method":"POST","url":"https://api.resend.com/emails","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{$env.RESEND_API_KEY}}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ from: 'info@draggonnb.online', to: $node['Split Orgs'].json.email, subject: 'Payment overdue - DraggonnB OS', html: '<div style=\"font-family: sans-serif; max-width: 600px; margin: 0 auto;\"><h2>Payment Reminder</h2><p>Hi ' + $node['Split Orgs'].json.name + ',</p><p>We noticed your subscription payment is overdue. Your billing date was <strong>' + $node['Split Orgs'].json.next_billing_date + '</strong>.</p><p>Please update your payment method or complete payment to avoid service interruption.</p><p>If you have already made payment, please allow up to 48 hours for processing.</p><br/><p>Regards,<br/>DraggonnB Billing Team</p></div>' }) }}","options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1820,0],"id":"send-reminder","name":"Send Payment Reminder Email"},{"parameters":{"method":"POST","url":"={{$env.SUPABASE_URL}}/rest/v1/ops_billing_events","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ event_type: 'payment_failed', client_id: $node['Split Orgs'].json.id, organization_name: $node['Split Orgs'].json.name, plan_id: $node['Split Orgs'].json.plan_id, next_billing_date: $node['Split Orgs'].json.next_billing_date, metadata: { source: 'billing_monitor_workflow', reminder_sent: true, checked_at: new Date().toISOString() } }) }}","options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2080,60],"id":"log-event","name":"Log Billing Event","credentials":{"httpHeaderAuth":{"id":"draggonnb-supabase","name":"DraggonnB Supabase"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 1 * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,400],"id":"cron-monthly","name":"1st of Month 02:00 SAST"},{"parameters":{"method":"POST","url":"={{$env.SUPABASE_URL}}/rest/v1/rpc/aggregate_monthly_usage","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ target_month: new Date(Date.now() - 86400000).toISOString().slice(0, 7) }) }}","options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,400],"id":"aggregate-usage","name":"Aggregate Monthly Usage","credentials":{"httpHeaderAuth":{"id":"draggonnb-supabase","name":"DraggonnB Supabase"}}},{"parameters":{"url":"={{$env.SUPABASE_URL}}/rest/v1/usage_summaries?month=eq.{{new Date(Date.now() - 86400000).toISOString().slice(0, 7)}}&select=organization_id,metric_name,metric_value,metric_limit,organizations(name,email)","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,400],"id":"fetch-usage","name":"Fetch Usage Summaries","credentials":{"httpHeaderAuth":{"id":"draggonnb-supabase","name":"DraggonnB Supabase"}}},{"parameters":{"jsCode":"const summaries = $input.first().json;\nif (!Array.isArray(summaries) || summaries.length === 0) {\n  return [{ json: { _skip: true, message: 'No usage data' } }];\n}\nconst highUsage = summaries.filter(s => {\n  if (!s.metric_limit || s.metric_limit === 0) return false;\n  return (s.metric_value / s.metric_limit) >= 0.8;\n});\nif (highUsage.length === 0) {\n  return [{ json: { _skip: true, message: 'No high-usage orgs' } }];\n}\nconst grouped = {};\nfor (const item of highUsage) {\n  const orgId = item.organization_id;\n  if (!grouped[orgId]) {\n    grouped[orgId] = {\n      organization_id: orgId,\n      name: item.organizations?.name || orgId,\n      email: item.organizations?.email || null,\n      metrics: []\n    };\n  }\n  grouped[orgId].metrics.push({\n    metric: item.metric_name,\n    value: item.metric_value,\n    limit: item.metric_limit,\n    pct: Math.round((item.metric_value / item.metric_limit) * 100)\n  });\n}\nreturn Object.values(grouped).map(org => ({ json: org }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[840,400],"id":"filter-high-usage","name":"Filter High Usage Orgs"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json._skip}}","value2":true}]},"combineOperation":"any"},"type":"n8n-nodes-base.if","typeVersion":2,"position":[1100,400],"id":"check-high-usage","name":"Has High Usage?"},{"parameters":{"method":"POST","url":"https://api.resend.com/emails","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{$env.RESEND_API_KEY}}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ from: 'info@draggonnb.online', to: $json.email, subject: 'Usage Alert - DraggonnB OS', html: '<div style=\"font-family: sans-serif; max-width: 600px; margin: 0 auto;\"><h2>Usage Report</h2><p>Hi ' + $json.name + ',</p><p>Your usage for the past month is approaching plan limits:</p><ul>' + $json.metrics.map(m => '<li><strong>' + m.metric + '</strong>: ' + m.value + ' / ' + m.limit + ' (' + m.pct + '%)</li>').join('') + '</ul><p>Consider upgrading your plan to avoid disruption.</p><br/><p>Regards,<br/>DraggonnB Billing Team</p></div>' }) }}","options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1360,340],"id":"send-usage-alert","name":"Send Usage Report Email"}],"connections":{"Daily 6 AM UTC (8 AM SAST)":{"main":[[{"node":"Fetch Overdue Subscriptions","type":"main","index":0}]]},"Fetch Overdue Subscriptions":{"main":[[{"node":"Split Orgs","type":"main","index":0}]]},"Split Orgs":{"main":[[{"node":"Has Overdue Orgs?","type":"main","index":0}]]},"Has Overdue Orgs?":{"main":[[],{"node":"Check Payment Status","type":"main","index":0}]},"Check Payment Status":{"main":[[{"node":"Payment Found vs Missing","type":"main","index":0}]]},"Payment Found vs Missing":{"main":[[{"node":"Mark as Overdue","type":"main","index":0}],[]]},"Mark as Overdue":{"main":[[{"node":"Send Payment Reminder Email","type":"main","index":0}]]},"Send Payment Reminder Email":{"main":[[{"node":"Log Billing Event","type":"main","index":0}]]},"1st of Month 02:00 SAST":{"main":[[{"node":"Aggregate Monthly Usage","type":"main","index":0}]]},"Aggregate Monthly Usage":{"main":[[{"node":"Fetch Usage Summaries","type":"main","index":0}]]},"Fetch Usage Summaries":{"main":[[{"node":"Filter High Usage Orgs","type":"main","index":0}]]},"Filter High Usage Orgs":{"main":[[{"node":"Has High Usage?","type":"main","index":0}]]},"Has High Usage?":{"main":[[],{"node":"Send Usage Report Email","type":"main","index":0}]}},"settings":{"executionOrder":"v1","timezone":"Africa/Johannesburg"}}]
