n8n/wf-content-gen.json
[{"id":"phBdut9yAsNtrxBm","name":"DraggonnB - AI Content Generator","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"draggonnb-generate-content","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"wh-gen","name":"Webhook Trigger","webhookId":"draggonnb-gen-wh"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'gpt-4o', max_tokens: 2000, messages: [{ role: 'system', content: 'You are a social media content expert for South African SMEs. Generate engaging, platform-appropriate content. Include relevant hashtags. Return ONLY valid JSON: { \"content\": \"the post text with hashtags\", \"imagePrompt\": \"a suggested image description\" }' }, { role: 'user', content: 'Generate a ' + ($json.body.contentType || 'post') + ' about: ' + ($json.body.topic || $json.body.prompt || 'business automation') + '. Platforms: ' + (($json.body.platforms || ['linkedin']).join(', ')) + '. Tone: ' + ($json.body.tone || 'professional') + '. Keywords: ' + (($json.body.keywords || []).join(', ')) }], temperature: 0.7 }) }}","options":{"timeout":45000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[250,0],"id":"ai-gen","name":"OpenAI Generate","credentials":{"httpHeaderAuth":{"id":"draggonnb-openai","name":"DraggonnB OpenAI"}}},{"parameters":{"jsCode":"const aiResponse = $input.first().json;\nconst webhookData = $('Webhook Trigger').first().json.body;\nconst now = new Date().toISOString();\nlet content = '';\nlet imagePrompt = '';\ntry {\n  const textBlock = aiResponse.choices && aiResponse.choices[0] ? aiResponse.choices[0].message.content : '';\n  const jsonMatch = textBlock.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    const parsed = JSON.parse(jsonMatch[0]);\n    content = parsed.content || textBlock;\n    imagePrompt = parsed.imagePrompt || '';\n  } else {\n    content = textBlock;\n  }\n} catch (e) {\n  content = aiResponse.choices && aiResponse.choices[0] ? aiResponse.choices[0].message.content : 'Generation failed';\n}\nreturn [{ json: { success: true, organization_id: webhookData.organizationId || 'unknown', content: content, platforms: webhookData.platforms || ['linkedin'], status: 'draft', image_prompt: imagePrompt, created_at: now } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[500,0],"id":"parse-ai","name":"Parse AI Response"},{"parameters":{"options":{},"respondWith":"json","responseBody":"={{ JSON.stringify({ success: $json.success || true, data: { content: $json.content || '', post_id: 'generated', imagePrompt: $json.image_prompt || '' } }) }}"},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[750,-100],"id":"resp-ok","name":"Success Response"},{"parameters":{"method":"POST","url":"https://psqfgzbjbgqrmjskdavs.supabase.co/rest/v1/social_posts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Prefer","value":"return=representation"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ organization_id: $json.organization_id, content: $json.content, platforms: $json.platforms, status: $json.status, created_at: $json.created_at }) }}","options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[750,100],"id":"save-post","name":"Save to Supabase","credentials":{"httpHeaderAuth":{"id":"draggonnb-supabase","name":"DraggonnB Supabase"}},"continueOnFail":true}],"connections":{"Webhook Trigger":{"main":[[{"node":"OpenAI Generate","type":"main","index":0}]]},"OpenAI Generate":{"main":[[{"node":"Parse AI Response","type":"main","index":0}]]},"Parse AI Response":{"main":[[{"node":"Success Response","type":"main","index":0},{"node":"Save to Supabase","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Africa/Johannesburg"}}]
