n8n/wf-crm-engagement-score.json
[{"_deployment_note":"TEMPLATE WORKFLOW: Replace all hardcoded Supabase URLs with the target deployment Supabase URL before importing. Use N8N environment variables ($env.SUPABASE_URL) or update the DraggonnB Supabase credential to point to the correct project. Credential ID: draggonnb-supabase. Telegram chat: $env.TELEGRAM_OPS_CHAT_ID.","id":"crm-engagement-score-v1","name":"DraggonnB - CRM Engagement Score (Nightly)","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 2 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"cron-engagement","name":"Daily 02:00 SAST"},{"parameters":{"url":"={{$env.SUPABASE_URL}}/rest/v1/tenant_modules?module_id=eq.crm&is_enabled=eq.true&select=organization_id","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[250,0],"id":"fetch-crm-orgs","name":"Fetch CRM Orgs","credentials":{"httpHeaderAuth":{"id":"draggonnb-supabase","name":"DraggonnB Supabase"}}},{"parameters":{"jsCode":"// Extract array of org IDs from tenant_modules response\nconst modules = $input.first().json;\nif (!Array.isArray(modules) || modules.length === 0) {\n  return [{ json: { _skip: true, message: 'No active CRM orgs found' } }];\n}\nreturn modules.map(m => ({ json: { organization_id: m.organization_id } }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[500,0],"id":"split-orgs","name":"Split CRM Orgs"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json._skip}}","value2":true}]},"combineOperation":"any"},"type":"n8n-nodes-base.if","typeVersion":2,"position":[740,0],"id":"check-skip","name":"Has Orgs?"},{"parameters":{"url":"={{$env.SUPABASE_URL}}/rest/v1/contacts?organization_id=eq.{{$json.organization_id}}&select=id,last_contacted_at,manual_followup_flag","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1000,100],"id":"fetch-contacts","name":"Fetch Contacts","credentials":{"httpHeaderAuth":{"id":"draggonnb-supabase","name":"DraggonnB Supabase"}}},{"parameters":{"url":"={{$env.SUPABASE_URL}}/rest/v1/deals?organization_id=eq.{{$node['Split CRM Orgs'].json.organization_id}}&stage=in.(lead,qualified,proposal)&select=id,value,contact_id,last_contacted_at","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1000,-100],"id":"fetch-deals","name":"Fetch Active Deals","credentials":{"httpHeaderAuth":{"id":"draggonnb-supabase","name":"DraggonnB Supabase"}}},{"parameters":{"jsCode":"// v3.0 simplified scoring (RESEARCH A Risk #2 escape hatch):\n// Email open/click/reply scoring deferred to v3.1 when email_tracking_events table exists.\n// JSONB score_breakdown is forward-compatible — v3.1 adds keys without schema change.\n//\n// Scoring weights (v3.0):\n//   manual_followup_flag = +15 pts\n//   last_contacted_at < 7 days = +5 pts (recent engagement)\n//   deal value > 5000 = +8 pts (hot lead bonus)\n//   Minimum threshold: 3 pts to appear in crm_action_suggestions\n\nconst contacts = $input.all()[0].json;\nconst deals = $input.all()[1]?.json;\nconst orgId = $node['Split CRM Orgs'].json.organization_id;\nconst now = new Date();\nconst results = [];\n\n// Score contacts for followup cards\nconst contactsArr = Array.isArray(contacts) ? contacts : [];\nfor (const contact of contactsArr) {\n  let score = 0;\n  const breakdown = { manual: 0, recent_contact: 0 };\n\n  if (contact.manual_followup_flag) {\n    score += 15;\n    breakdown.manual = 15;\n  }\n\n  const daysSinceContact = contact.last_contacted_at\n    ? (now - new Date(contact.last_contacted_at)) / (1000 * 60 * 60 * 24)\n    : 999;\n\n  if (daysSinceContact < 7) {\n    score += 5;\n    breakdown.recent_contact = 5;\n  }\n\n  if (score >= 3) {\n    results.push({\n      json: {\n        organization_id: orgId,\n        card_type: 'followup',\n        entity_type: 'contact',\n        entity_id: contact.id,\n        score,\n        score_breakdown: breakdown,\n        refreshed_at: now.toISOString()\n      }\n    });\n  }\n}\n\n// Score deals for hot_lead cards\nconst dealsArr = Array.isArray(deals) ? deals : [];\nfor (const deal of dealsArr) {\n  let score = 0;\n  const breakdown = { deal_value: 0, recent_contact: 0 };\n\n  if (deal.value && deal.value > 5000) {\n    score += 8;\n    breakdown.deal_value = 8;\n  }\n\n  const daysSinceContact = deal.last_contacted_at\n    ? (now - new Date(deal.last_contacted_at)) / (1000 * 60 * 60 * 24)\n    : 999;\n\n  if (daysSinceContact < 7) {\n    score += 5;\n    breakdown.recent_contact = 5;\n  }\n\n  if (score >= 3) {\n    results.push({\n      json: {\n        organization_id: orgId,\n        card_type: 'hot_lead',\n        entity_type: 'deal',\n        entity_id: deal.id,\n        score,\n        score_breakdown: breakdown,\n        refreshed_at: now.toISOString()\n      }\n    });\n  }\n}\n\nif (results.length === 0) {\n  return [{ json: { _skip: true, org_id: orgId, message: 'No scoreable entities for this org' } }];\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1300,0],"id":"compute-scores","name":"Compute Engagement Scores"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json._skip}}","value2":true}]},"combineOperation":"any"},"type":"n8n-nodes-base.if","typeVersion":2,"position":[1540,0],"id":"check-scores","name":"Has Scores?"},{"parameters":{"method":"POST","url":"={{$env.SUPABASE_URL}}/rest/v1/crm_action_suggestions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"resolution=merge-duplicates,return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ organization_id: $json.organization_id, card_type: $json.card_type, entity_type: $json.entity_type, entity_id: $json.entity_id, score: $json.score, score_breakdown: $json.score_breakdown, refreshed_at: $json.refreshed_at, n8n_run_id: $execution.id }) }}","options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1800,100],"id":"upsert-suggestions","name":"Upsert CRM Suggestions","credentials":{"httpHeaderAuth":{"id":"draggonnb-supabase","name":"DraggonnB Supabase"}}},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ chat_id: $env.TELEGRAM_OPS_CHAT_ID, text: '[CRM Engagement Score Failed]\\nOrg: ' + ($node[\\'Split CRM Orgs\\'].json?.organization_id || 'unknown') + '\\nRun ID: ' + $execution.id + '\\nError: ' + ($json.message || JSON.stringify($json)) + '\\nTimestamp: ' + new Date().toISOString(), parse_mode: 'HTML' }) }}","options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1800,-200],"id":"telegram-error","name":"Telegram Error Alert"}],"connections":{"Daily 02:00 SAST":{"main":[[{"node":"Fetch CRM Orgs","type":"main","index":0}]]},"Fetch CRM Orgs":{"main":[[{"node":"Split CRM Orgs","type":"main","index":0}]]},"Split CRM Orgs":{"main":[[{"node":"Has Orgs?","type":"main","index":0}]]},"Has Orgs?":{"main":[[],{"node":"Fetch Active Deals","type":"main","index":0},{"node":"Fetch Contacts","type":"main","index":0}]},"Fetch Contacts":{"main":[[{"node":"Compute Engagement Scores","type":"main","index":0}]]},"Fetch Active Deals":{"main":[[{"node":"Compute Engagement Scores","type":"main","index":1}]]},"Compute Engagement Scores":{"main":[[{"node":"Has Scores?","type":"main","index":0}],[]]},"Has Scores?":{"main":[[{"node":"Telegram Error Alert","type":"main","index":0}],{"node":"Upsert CRM Suggestions","type":"main","index":0}]}},"settings":{"executionOrder":"v1","timezone":"Africa/Johannesburg"}}]
