n8n/wf-crm-nightly-cleanup.json
[{"_deployment_note":"TEMPLATE WORKFLOW: Replace all hardcoded Supabase URLs with the target deployment Supabase URL before importing. Use N8N environment variables ($env.SUPABASE_URL) or update the DraggonnB Supabase credential. Credential ID: draggonnb-supabase. Runs at 03:00 SAST — 1 hour after engagement-score (02:00) to avoid contention.","id":"crm-nightly-cleanup-v1","name":"DraggonnB - CRM Nightly Cleanup","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 3 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"cron-cleanup","name":"Daily 03:00 SAST"},{"parameters":{"method":"DELETE","url":"={{$env.SUPABASE_URL}}/rest/v1/entity_drafts?expires_at=lt.{{$now.toISOString()}}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Prefer","value":"return=representation"},{"name":"Content-Type","value":"application/json"}]},"options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,0],"id":"delete-drafts","name":"Delete Expired Drafts","credentials":{"httpHeaderAuth":{"id":"draggonnb-supabase","name":"DraggonnB Supabase"}}},{"parameters":{"method":"DELETE","url":"={{$env.SUPABASE_URL}}/rest/v1/crm_action_dismissals?expires_at=lt.{{$now.toISOString()}}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Prefer","value":"return=representation"},{"name":"Content-Type","value":"application/json"}]},"options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,200],"id":"delete-dismissals","name":"Delete Expired Dismissals","credentials":{"httpHeaderAuth":{"id":"draggonnb-supabase","name":"DraggonnB Supabase"}}},{"parameters":{"jsCode":"// Capture row counts from both delete operations\nconst draftsResult = $input.all()[0].json;\nconst dismissalsResult = $input.all()[1]?.json;\n\nconst nDrafts = Array.isArray(draftsResult) ? draftsResult.length : 0;\nconst nDismissals = Array.isArray(dismissalsResult) ? dismissalsResult.length : 0;\nconst total = nDrafts + nDismissals;\n\nconsole.log(`[CRM Nightly Cleanup] Deleted ${nDrafts} expired entity_drafts + ${nDismissals} expired crm_action_dismissals (total: ${total})`);\n\nreturn [{ json: { n_drafts: nDrafts, n_dismissals: nDismissals, total, run_at: new Date().toISOString(), notify: total > 100 } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,100],"id":"capture-counts","name":"Capture Row Counts"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.notify}}","value2":true}]},"combineOperation":"any"},"type":"n8n-nodes-base.if","typeVersion":2,"position":[800,100],"id":"check-threshold","name":"Count > 100?"},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ chat_id: $env.TELEGRAM_OPS_CHAT_ID, text: '[CRM Cleanup] Deleted ' + $json.n_drafts + ' expired drafts + ' + $json.n_dismissals + ' expired dismissals\\nRun: ' + $json.run_at, parse_mode: 'HTML' }) }}","options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1060,0],"id":"telegram-summary","name":"Telegram High-Volume Summary"},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ chat_id: $env.TELEGRAM_OPS_CHAT_ID, text: '[CRM Nightly Cleanup Failed]\\nRun ID: ' + $execution.id + '\\nError: ' + ($json.message || JSON.stringify($json)) + '\\nTimestamp: ' + new Date().toISOString(), parse_mode: 'HTML' }) }}","options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,-200],"id":"telegram-error","name":"Telegram Error Alert"}],"connections":{"Daily 03:00 SAST":{"main":[[{"node":"Delete Expired Drafts","type":"main","index":0},{"node":"Delete Expired Dismissals","type":"main","index":0}]]},"Delete Expired Drafts":{"main":[[{"node":"Capture Row Counts","type":"main","index":0}]]},"Delete Expired Dismissals":{"main":[[{"node":"Capture Row Counts","type":"main","index":1}]]},"Capture Row Counts":{"main":[[{"node":"Count > 100?","type":"main","index":0}]]},"Count > 100?":{"main":[[{"node":"Telegram High-Volume Summary","type":"main","index":0}],[]]}},"settings":{"executionOrder":"v1","timezone":"Africa/Johannesburg"}}]
