n8n/wf-dashboard-action-suggestions.json
[{"_deployment_note":"TEMPLATE WORKFLOW: Phase 12 Plan 12-07. Nightly cross-module 'Today's Quick Action' computer. Runs at 04:30 SAST (after wf-crm-engagement-score at 02:00 — depends on those scores). Replace SUPABASE_URL with target deployment. Credential ID: draggonnb-supabase. Telegram chat: $env.TELEGRAM_OPS_CHAT_ID. Activate manually after import.","id":"dashboard-action-suggestions-v1","name":"DraggonnB - Dashboard Action Suggestions (Nightly)","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"30 4 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"cron-dashboard","name":"Daily 04:30 SAST"},{"parameters":{"url":"={{$env.SUPABASE_URL}}/rest/v1/organizations?select=id&deleted_at=is.null&archived_at=is.null","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[250,0],"id":"fetch-orgs","name":"Fetch Active Orgs","credentials":{"httpHeaderAuth":{"id":"draggonnb-supabase","name":"DraggonnB Supabase"}}},{"parameters":{"jsCode":"const orgs = $input.first().json;\nif (!Array.isArray(orgs) || orgs.length === 0) return [{ json: { _skip: true } }];\nreturn orgs.map(o => ({ json: { organization_id: o.id } }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[500,0],"id":"split-orgs","name":"Split Orgs"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json._skip}}","value2":true}]},"combineOperation":"any"},"type":"n8n-nodes-base.if","typeVersion":2,"position":[740,0],"id":"check-skip","name":"Has Orgs?"},{"parameters":{"url":"={{$env.SUPABASE_URL}}/rest/v1/crm_action_suggestions?organization_id=eq.{{$json.organization_id}}&select=card_type,entity_id,score,refreshed_at","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1000,-150],"id":"fetch-crm-suggs","name":"Fetch CRM Suggestions","credentials":{"httpHeaderAuth":{"id":"draggonnb-supabase","name":"DraggonnB Supabase"}}},{"parameters":{"url":"={{$env.SUPABASE_URL}}/rest/v1/oauth_tokens?organization_id=eq.{{$node['Split Orgs'].json.organization_id}}&select=provider,expires_at","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1000,-50],"id":"fetch-tokens","name":"Fetch OAuth Tokens","credentials":{"httpHeaderAuth":{"id":"draggonnb-supabase","name":"DraggonnB Supabase"}}},{"parameters":{"url":"={{$env.SUPABASE_URL}}/rest/v1/campaign_drafts?organization_id=eq.{{$node['Split Orgs'].json.organization_id}}&status=eq.pending_approval&select=id,status,created_at","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1000,50],"id":"fetch-drafts","name":"Fetch Pending Drafts","credentials":{"httpHeaderAuth":{"id":"draggonnb-supabase","name":"DraggonnB Supabase"}}},{"parameters":{"url":"={{$env.SUPABASE_URL}}/rest/v1/accommodation_stock?organization_id=eq.{{$node['Split Orgs'].json.organization_id}}&select=item,quantity,threshold","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1000,150],"id":"fetch-stock","name":"Fetch Accommodation Stock","credentials":{"httpHeaderAuth":{"id":"draggonnb-supabase","name":"DraggonnB Supabase"}}},{"parameters":{"jsCode":"// Pure compute. Mirrors lib/dashboard/quick-action-suggestions.ts.\n// Inputs assembled from previous 4 fetches.\nconst orgId = $node['Split Orgs'].json.organization_id;\nconst crmSuggs = ($input.all()[0]?.json) || [];\nconst tokens = ($input.all()[1]?.json) || [];\nconst drafts = ($input.all()[2]?.json) || [];\nconst stock = ($input.all()[3]?.json) || [];\nconst now = new Date();\nconst DAY_MS = 24*60*60*1000;\nconst candidates = [];\n\n// crm.hot_leads (priority 80)\nconst hotLeads = (Array.isArray(crmSuggs) ? crmSuggs : []).filter(s => s.card_type === 'hot_lead' && s.score >= 3);\nif (hotLeads.length > 0) {\n  candidates.push({\n    type: 'crm.hot_leads',\n    priority: 80,\n    headline: `${hotLeads.length} hot lead${hotLeads.length===1?'':'s'} need follow-up`,\n    body: 'Your CRM flagged high-value deals with recent contact. Review and approve follow-ups.',\n    cta_label: 'Open CRM',\n    cta_href: '/crm',\n    metadata: { count: hotLeads.length, top_score: Math.max(...hotLeads.map(h=>h.score)) }\n  });\n}\n\n// crm.followups (priority 50)\nconst followups = (Array.isArray(crmSuggs) ? crmSuggs : []).filter(s => s.card_type === 'followup' && s.score >= 3);\nif (followups.length > 0) {\n  candidates.push({\n    type: 'crm.followups',\n    priority: 50,\n    headline: `${followups.length} contact${followups.length===1?'':'s'} flagged for follow-up`,\n    body: 'AI-curated follow-ups based on engagement patterns. One-click approve in CRM Easy view.',\n    cta_label: 'Review follow-ups',\n    cta_href: '/crm',\n    metadata: { count: followups.length }\n  });\n}\n\n// token.expiring (priority 100)\nconst expiringSoon = (Array.isArray(tokens) ? tokens : []).filter(t => {\n  if (!t.expires_at) return false;\n  const days = (new Date(t.expires_at).getTime() - now.getTime()) / DAY_MS;\n  return days >= 0 && days <= 3;\n});\nif (expiringSoon.length > 0) {\n  candidates.push({\n    type: 'token.expiring',\n    priority: 100,\n    headline: `Reconnect ${expiringSoon[0].provider} — expires soon`,\n    body: 'OAuth tokens are about to expire. Reconnect to keep automations running.',\n    cta_label: 'Open integrations',\n    cta_href: '/settings/integrations',\n    metadata: { providers: expiringSoon.map(t=>t.provider) }\n  });\n}\n\n// campaigns.draft_pending (priority 70)\nconst pendingDrafts = (Array.isArray(drafts) ? drafts : []).filter(d => d.status === 'pending_approval');\nif (pendingDrafts.length > 0) {\n  candidates.push({\n    type: 'campaigns.draft_pending',\n    priority: 70,\n    headline: `${pendingDrafts.length} campaign draft${pendingDrafts.length===1?'':'s'} awaiting approval`,\n    body: 'Brand-safety review complete. Approve to schedule the send.',\n    cta_label: 'Review drafts',\n    cta_href: '/campaigns',\n    metadata: { count: pendingDrafts.length }\n  });\n}\n\n// accommodation.low_stock (priority 60)\nconst lowStock = (Array.isArray(stock) ? stock : []).filter(s => s.quantity <= s.threshold);\nif (lowStock.length > 0) {\n  candidates.push({\n    type: 'accommodation.low_stock',\n    priority: 60,\n    headline: `${lowStock.length} accommodation stock item${lowStock.length===1?'':'s'} below threshold`,\n    body: 'Restock alert from nightly inventory check. Review and reorder.',\n    cta_label: 'Open stock',\n    cta_href: '/accommodation/stock',\n    metadata: { items: lowStock.map(s=>s.item) }\n  });\n}\n\nif (candidates.length === 0) return [{ json: { _skip: true, organization_id: orgId } }];\n\n// Pick top by priority\ncandidates.sort((a,b) => b.priority - a.priority);\nconst top = candidates[0];\n\nreturn [{ json: {\n  organization_id: orgId,\n  action_type: top.type,\n  priority: top.priority,\n  headline: top.headline,\n  body: top.body,\n  cta_label: top.cta_label,\n  cta_href: top.cta_href,\n  metadata: top.metadata,\n  refreshed_at: now.toISOString()\n}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1300,0],"id":"compute-top","name":"Compute Top Suggestion"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json._skip}}","value2":true}]},"combineOperation":"any"},"type":"n8n-nodes-base.if","typeVersion":2,"position":[1540,0],"id":"check-result","name":"Has Suggestion?"},{"parameters":{"method":"POST","url":"={{$env.SUPABASE_URL}}/rest/v1/dashboard_action_suggestions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"resolution=merge-duplicates,return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ organization_id: $json.organization_id, action_type: $json.action_type, priority: $json.priority, headline: $json.headline, body: $json.body, cta_label: $json.cta_label, cta_href: $json.cta_href, metadata: $json.metadata, refreshed_at: $json.refreshed_at, n8n_run_id: $execution.id }) }}","options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1800,50],"id":"upsert-suggestion","name":"Upsert Suggestion","credentials":{"httpHeaderAuth":{"id":"draggonnb-supabase","name":"DraggonnB Supabase"}}},{"parameters":{"method":"DELETE","url":"={{$env.SUPABASE_URL}}/rest/v1/dashboard_action_suggestions?organization_id=eq.{{$json.organization_id}}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1800,-50],"id":"clear-suggestion","name":"Clear Suggestion (no candidates)","credentials":{"httpHeaderAuth":{"id":"draggonnb-supabase","name":"DraggonnB Supabase"}}}],"connections":{"Daily 04:30 SAST":{"main":[[{"node":"Fetch Active Orgs","type":"main","index":0}]]},"Fetch Active Orgs":{"main":[[{"node":"Split Orgs","type":"main","index":0}]]},"Split Orgs":{"main":[[{"node":"Has Orgs?","type":"main","index":0}]]},"Has Orgs?":{"main":[[],[{"node":"Fetch CRM Suggestions","type":"main","index":0},{"node":"Fetch OAuth Tokens","type":"main","index":0},{"node":"Fetch Pending Drafts","type":"main","index":0},{"node":"Fetch Accommodation Stock","type":"main","index":0}]]},"Fetch CRM Suggestions":{"main":[[{"node":"Compute Top Suggestion","type":"main","index":0}]]},"Fetch OAuth Tokens":{"main":[[{"node":"Compute Top Suggestion","type":"main","index":1}]]},"Fetch Pending Drafts":{"main":[[{"node":"Compute Top Suggestion","type":"main","index":2}]]},"Fetch Accommodation Stock":{"main":[[{"node":"Compute Top Suggestion","type":"main","index":3}]]},"Compute Top Suggestion":{"main":[[{"node":"Has Suggestion?","type":"main","index":0}]]},"Has Suggestion?":{"main":[[{"node":"Clear Suggestion (no candidates)","type":"main","index":0}],[{"node":"Upsert Suggestion","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Africa/Johannesburg"}}]
