n8n/wf-queue.json
[{"id":"uSLphYm3wQGuvYK8","name":"DraggonnB - Content Queue Processor","active":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"cron-q","name":"Every 15 Minutes"},{"parameters":{"url":"https://psqfgzbjbgqrmjskdavs.supabase.co/rest/v1/content_queue?status=eq.scheduled&select=*&limit=50","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[250,0],"id":"fetch-due","name":"Fetch Due Posts","credentials":{"httpHeaderAuth":{"id":"draggonnb-supabase","name":"DraggonnB Supabase"}}},{"parameters":{"jsCode":"const posts = $input.first().json;\nif (!Array.isArray(posts) || posts.length === 0) {\n  return [{ json: { no_posts: true, checked_at: new Date().toISOString() } }];\n}\nreturn posts.map(post => ({ json: { ...post, published_at: new Date().toISOString() } }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[500,0],"id":"process-posts","name":"Process Posts"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-posts","leftValue":"={{ $json.no_posts }}","rightValue":true,"operator":{"type":"boolean","operation":"notTrue"}}],"combinator":"and"}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[720,0],"id":"check-posts","name":"Has Posts?"},{"parameters":{"method":"PATCH","url":"=https://psqfgzbjbgqrmjskdavs.supabase.co/rest/v1/content_queue?id=eq.{{ $json.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ status: 'published', published_at: $json.published_at }) }}","options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[940,-100],"id":"mark-published","name":"Mark as Published","credentials":{"httpHeaderAuth":{"id":"draggonnb-supabase","name":"DraggonnB Supabase"}}}],"connections":{"Every 15 Minutes":{"main":[[{"node":"Fetch Due Posts","type":"main","index":0}]]},"Fetch Due Posts":{"main":[[{"node":"Process Posts","type":"main","index":0}]]},"Process Posts":{"main":[[{"node":"Has Posts?","type":"main","index":0}]]},"Has Posts?":{"main":[[{"node":"Mark as Published","type":"main","index":0}],[]]}},"settings":{"executionOrder":"v1","timezone":"Africa/Johannesburg"}}]
